li {
  float: left;
  font-family: 'Poppins', sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

p a {
    text-decoration: none;
    color: black;
}

.title {
  color: white;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
}

.navigation {
  background-color: #00b894;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#computer-icon {
  float: right;
  width: 300px;
  height: auto;
}

.banner {
  padding: 50px;
}

.banner-text {
  float: left;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 60px;
  display: flex;
  padding: 20px;
}

#content-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
}

#content-text {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

#learn-text {
  margin-top: 100px;
  text-align: center;
  padding-left: 15px;
  font-family: 'Poppins', sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
margin-top: 50px;
  border: #00b894;
  font-family: 'Roboto', sans-serif;
}

#even-row {
    background-color: #ecf0f1;
}

#odd-row {
   background-color: #bdc3c7; 
}

thead,
tfoot {
  background-color: #00b894;
  color: white;
}

.footer {
    float: right;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}
